<%- include('header'); -%>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thank You for Subscribing!</title>
  </head>
  <body>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold ">Thank You for Subscribing to Our Newsletter!</h1>
        <p class="col-md-8 fs-4 ">We are thrilled to have you as a part of our community! Our newsletters are a great way to stay up-to-date on the latest news, events, and promotions from us. If there's anything we can do to make your experience better, please don't hesitate to reach out. </p>
        <p class="col-md-8 fs-4 ">In the meantime, be sure to check your emails for even more exciting updates!</p>
      </div>
    </div>
  </body>
</html>
